 <div>
    <h5 class="center-align">Make a new list</h5>
  </div>
        
  <%= form_for List.new do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>

